---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---
<style>
  /* reduce line space */
  .list__item, 
  .archive__item {
    margin-bottom: 10px !important;
    padding-bottom: 0 !important;
  }
  
  /* reduce font size */
  .archive__item-title {
    font-size: 1.05em !important;
    line-height: 1.14 !important;
    margin-bottom: 2px !important;
    font-weight:700 !important;
  }

  .archive__item, .archive__item p, .archive__item .archive__item-excerpt {
    line-height: 1.25 !important;
    font-size: 0.95em !important;
  }
</style>

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
