<style>
  /* 테이블 스타일 */
  .tag-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    table-layout: auto; 
    table-layout: auto;   /* 자동 너비 계산 */
    width: auto;          /* 전체 폭 강제 X */
  }
  
  .tag-table th, .tag-table td {
    text-align: center;
    vertical-align: top;
    padding: 0.5rem 1rem; /* 여백 조금 줌 */
    white-space: nowrap;  /* 줄바꿈 방지: 글자수에 맞게 셀 늘어남 */
  }
  
  /* 태그 기본 스타일 */
  .tag-label {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 9999px;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 4px 6px 4px 0;
    text-decoration: none;
    color: white;
  }
  
  /* 색상 지정 */
  .fg-fpga  { background-color: #b2f2bb; color: #064e3b; }  /* 연초록 */
  .fg-asic  { background-color: #2f9e44; color: white; }    /* 진초록 */
  .fg-mtc   { background-color: #bae6fd; color: #0c4a6e; }  /* 연하늘 */
  .fg-rl    { background-color: #60a5fa; color: white; }    /* 하늘 */
  .fg-lm    { background-color: #1e3a8a; color: white; }  /* 진한 네이비 */
  .fg-quant { background-color: #fbcfe8; color: #831843; }  /* 연분홍 */
  .fg-prune { background-color: #fdba74; color: #7c2d12; }  /* 연주황 */
</style>

<table class="tag-table">
    <thead>
        <tr>
        <th>Platform</th>
        <th>Applications</th>
        <th>HW/SW Co-Design</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>
            <a href="https://jenna-yang.github.io//tags/#fpga" class="tag-label fg-fpga">FPGA</a><br>
            <a href="https://jenna-yang.github.io//tags/#asic" class="tag-label fg-asic">ASIC</a>
        </td>
        <td>
            <a href="https://jenna-yang.github.io//tags/#multitenant-cnn" class="tag-label fg-mtc">MultiTenant-CNN</a><br>
            <a href="https://jenna-yang.github.io//tags/#reinforcementlearning" class="tag-label fg-rl">ReinforcementLearning</a><br>
            <a href="https://jenna-yang.github.io//tags/#languagemodel" class="tag-label fg-lm">LanguageModel</a>
        </td>
        <td>
            <a href="https://jenna-yang.github.io//tags/#quantization" class="tag-label fg-quant">Quantization</a><br>
            <a href="https://jenna-yang.github.io//tags/#pruning" class="tag-label fg-prune">Pruning</a>
        </td>
        </tr>
    </tbody>
</table>